@model IEnumerable<Rocky.Models.ApplicationType>

<div>
    
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Application Type</h2>
        </div>

        <div class="col-6 text-right">
            <a class="btn btn-primary " asp-action="Create">  
                Create New Application Type
            </a>
        </div>
    </div>
    
    <br/>
    <br />
    
    @if (Model.Any())
    {
        <table class="table table-bordered table-striped" style="width: 100%">
            <thead>
            <tr>
                <th>
                    S/NO
                </th>
                <th>
                    Name
                </th>

            </tr>
                
            </thead>
            
            <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>@obj.Id</td>

                    <td style="width: 50%">@obj.Name</td>

                    <td style="width: 50%"></td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <p>No Application Type exist.</p>
    }
</div>

